body {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0;
    padding: 0;
}

.welcomeText {
    display: none;
    width: 1400px;
    height: 400px;
    position: absolute;
    top: 40vh;
    left: 10vw;
    font-family: 'Xanh Mono', monospace;
    font-size: 40;
    color: white;
    text-align: center;
    user-select: none;
    opacity: 1;
    transition-timing-function: ease;
}

.secondScene {
    clear: both;
    margin: 30px auto;
    overflow: hidden;
    width: 80%;
    height: 50px;
    font-family: 'Xanh Mono', monospace;
    font-size: 30;
    color: white;
    user-select: none;
    display: none;
    text-align: center;

}

.mainContent {
    width: 70%;
    height: 400px;
    margin: 50px auto 20px auto;
    font-family: 'Xanh Mono', monospace;
    font-size: 40;
    color: white;
    text-align: center;
    user-select: none;
    display: none;
}

.navElement {
    float: left;
    padding: 0;
    text-decoration: none;
    width: 25%;
    text-align: center;
}

.center {
    margin: auto;
    display: block;
    text-align: center;
}

.navElement:hover {
    font-size: 45px;
    cursor: pointer;
}

.placeholder {
    background: red;
    position: absolute;
    top: 20vw;
    width: 15vw;
    height: 5vw;
}

#placeholderOne {
    left: 10vw;

}

#placeholderTwo {
    left: 40vw;
}

#placeholderThree {
    left: 70vw;
}

#placeHolderFour {
    left: 100vw;

}

@media screen and (max-width: 770px) {
    .navElement {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }

    .welcomeText {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }

    .secondScene {
        overflow: visible;
        height: auto;
    }
    .mainContent{
        font-size: 30;
    }
}